#a {
    background-color: lightblue;
}

#b {
    font-family: 'Sofia Sans Condensed', sans-serif;}

#c {
    color: rgb(27, 9, 107);
}

#d {
    background-color: lightcoral;
}

#e {
    font-family: 'DM Serif Display', serif;
}

#f {
    background-color: lightgreen;
}

#g {
    font-family: 'Crimson Text', serif;
}

#h {
    background-color: lightgrey;
}

#i {    
    font-family: 'Indie Flower', cursive;
}
