/* Estilos aplicados ao documento HTML inteiro */
html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center; /* Alinhar texto no centro horizontalmente */
  }
  
  a, h1 {
    color: #0081af;
  }
  h2, h3{
    color: #CBD9EA;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    min-height: 100vh;
    background: url(sistema-html-para-o-conceito-de-site.jpg) no-repeat center center fixed;
    background-size: cover; /* Exibir a imagem de fundo completa */
  }
  
  .card{
    display: flex;
      justify-content: center;
      align-items: center;
    box-shadow: 3px 6px rgba(100, 100, 100,0.3);
    width: 100%;
    height: 100%;
    background-color: #EABA6B;
    
  }
  h1{
    text-align: center;
    background-color: #EABA6B; /* Cor de fundo desejada */
    padding: 10px; /* Espaçamento interno para dar destaque ao texto */
    border-radius: 10px; /* Borda arredondada */
  }