body{
  padding-top: 60px;
  background: #CBD9EA;
}

.card{
  box-shadow: 3px 6px rgba(100, 100, 100,0.3);
  width: 100%;
  height: 100%;
}
h1{
  text-align: center;
  background-color: #EABA6B; /* Cor de fundo desejada */
  padding: 10px; /* Espaçamento interno para dar destaque ao texto */
  border-radius: 10px; /* Borda arredondada */
}
